<!--<div>
    <h1 class="starter-template">
        {{title}}
    </h1>
    <div class="container">
        <div class="starter-template">
            <div>
                <h2>
                    <app-about></app-about>
                </h2>
                <h2>
                    {{addedText}}
                </h2>
            </div>
        </div>
    </div>
</div>-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div class="header-nightsky">
    <div class="hero">
        <br>
        <img src="../../assets/img/adi-img.jpg" class="img-circle" alt="Aditya Bhardwaj" width="304" height="304">
        <h2 style="display: inline;">{{intro}}</h2>
        <h1>{{title}}</h1>
        <h2>{{addedText}}</h2>
        <div class="btn btn-primary">Learn more about us</div>
        <div class="btn btn-primary">Contact us</div>
    </div>
</div>