<footer class="footer">
    <div class="container">
        <span class="text-muted">
            <label> Made with <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i> by  Aditya Bhardwaj. </label>
            <label>All copyrights reserved to <a href="http://intellectape.com">Aditya Bhardwaj</a>.</label>
        </span>
        <br>
        <span class="display text-muted">
                <a href="https://www.facebook.com/adityabhardwaj09"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="https://twitter.com/@adi_b09"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="https://github.com/intellectape"><i class="fa fa-github" aria-hidden="true"></i></a>
                <a href="https://instagram.com/intellect_ape"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="https://flickr.com/intellect_ape"><i class="fa fa-flickr" aria-hidden="true"></i></a>
        </span>
    </div>
</footer>