<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
    <a class="navbar-brand" href="#">IntellectApe</a>
    <ul class="nav navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
        </li>
    </ul>
    <ul class="nav navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="https://www.facebook.com/adityabhardwaj09"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://twitter.com/@adi_b09"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://github.com/intellectape"><i class="fa fa-github" aria-hidden="true"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://instagram.com/intellect_ape"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://flickr.com/intellect_ape"><i class="fa fa-flickr" aria-hidden="true"></i></a>
        </li>
    </ul>
</nav>

<!--

<script>
    $(window).scroll(function() {
        if ($(this).scrollTop() > 50) {
            $('.navbar-trans').addClass('afterscroll');
        } else {
            $('.navbar-trans').removeClass('afterscroll');
        }

    });
</script>-->
<!--
<nav class="navbar navbar-default navbar-doublerow navbar-trans navbar-fixed-top">

    <nav class="navbar navbar-top hidden-xs">
        <div class="container">

            <ul class="nav navbar-nav pull-left">
                <li><a href="#"><span class="glyphicon glyphicon-thumbs-up text-white"></span></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-globe text-white"></span></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-pushpin text-white"></span></a></li>
                <li><a href="#"><span class="text-white">QUESTIONS? CALL: <b>+963000000000</b></span></a></li>
            </ul>

            <ul class="nav navbar-nav pull-right">
                <li><a href="#" class="text-white">About Us</a></li>
                <li><a href="#" class="text-white">Contact Us</a></li>
            </ul>
        </div>
        <div class="dividline light-grey"></div>
    </nav>

    <nav class="navbar navbar-down">
        <div class="container">
            <div class="flex-container">
                <div class="navbar-header flex-item">
                    <div class="navbar-brand" href="#">ALPHAD</div>
                </div>
                <ul class="nav navbar-nav flex-item hidden-xs">
                    <li><a href="#">Projects</a></li>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">TheTeam</a></li>
                </ul>
                <ul class="nav navbar-nav flex-item hidden-xs pull-right">
                    <li><a href="#" class="">offer!</a></li>
                </ul>

                <div class="dropdown visible-xs pull-right">
                    <button class="btn btn-default dropdown-toggle " type="button" id="dropdownmenu" data-toggle="dropdown">
                <span class="glyphicon glyphicon-align-justify"></span>
              </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Projects</a></li>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="#">TheTeam</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">contact us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</nav>

<header>
    <img src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/J70T3LHQ2O.jpg" style="width:100%">
</header>-->